{
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 120,
    // "singleAttributePerLine": true,
    "plugins": ["prettier-plugin-tailwindcss"],
    "tailwindConfig": "./tailwind.config.js"
}
